<font size = "3"> Analyze the peerreview assignments using `SQLite` **DATABASE**

In [4]:

import sqlite3
import pandas as pd

conn = sqlite3.Connection("FinalDB.db")
cur = conn.cursor()

df = pd.read_csv("ChicagoCensusData.csv")
df.to_sql("CENSUS_DATA", con=conn, if_exists='replace', index=False, method=None)

df_1 = pd.read_csv("ChicagoCrimeData.csv")
df_1.to_sql("CHICAGO_CRIME_DATA", con=conn, if_exists='replace', index=False, method=None)

df_2 = pd.read_csv("ChicagoPublicSchools.csv")
df_2.to_sql("CHICAGO_PUBLIC_SCHOOLS", con=conn, if_exists='replace', index=False, method=None)

conn.close()

c:\users\sidik savutjan\appdata\local\programs\python\python37-32\lib\site-packages\pandas\core\generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [15]:
%load_ext sql

%sql sqlite:///FinalDB.db
    
#%sql select * from CENSUS_DATA

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

UsageError: Line magic function `%tables` not found.

<font size = "3"> Retrieve the list of tables in the `SQLite` *database*.

In [25]:
%%sql

SELECT * FROM sqlite_master 
    WHERE type = 'table'

 * sqlite:///FinalDB.db
Done.

[('table', 'CENSUS_DATA', 'CENSUS_DATA', 2, 'CREATE TABLE "CENSUS_DATA" (\n"COMMUNITY_AREA_NUMBER" REAL,\n  "COMMUNITY_AREA_NAME" TEXT,\n  "PERCENT_OF_HOUSING_CROWDED" REAL,\n  "PERCENT_HOUSEHOL ... (73 characters truncated) ... T_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA" REAL,\n  "PERCENT_AGED_UNDER_18_OR_OVER_64" REAL,\n  "PER_CAPITA_INCOME" INTEGER,\n  "HARDSHIP_INDEX" REAL\n)'),
 ('table', 'CHICAGO_CRIME_DATA', 'CHICAGO_CRIME_DATA', 5, 'CREATE TABLE "CHICAGO_CRIME_DATA" (\n"ID" INTEGER,\n  "CASE_NUMBER" TEXT,\n  "DATE" TEXT,\n  "BLOCK" TEXT,\n  "IUCR" TEXT,\n  "PRIMARY_TYPE" TEXT,\n  ... (187 characters truncated) ... \n  "FBICODE" TEXT,\n  "X_COORDINATE" REAL,\n  "Y_COORDINATE" REAL,\n  "YEAR" INTEGER,\n  "LATITUDE" REAL,\n  "LONGITUDE" REAL,\n  "LOCATION" TEXT\n)'),
 ('table', 'CHICAGO_PUBLIC_SCHOOLS', 'CHICAGO_PUBLIC_SCHOOLS', 29, 'CREATE TABLE "CHICAGO_PUBLIC_SCHOOLS" (\n"School_ID" INTEGER,\n  "NAME_OF_SCHOOL" TEXT,\n  "Elementary, Middle, or High School" TEXT,\n  "Street_Addr ... (2217 characters truncated) ... tude" REAL,\n  "COMMUNITY_AREA_NUMBER" INTEGER,\n  "COMMUNITY_AREA_NAME" TEXT,\n  "Ward" INTEGER,\n  "Police_District" INTEGER,\n  "Location" TEXT\n)')]

**P1**: find the total number of crimes in the CRIME table.

In [26]:
%%sql

SELECT COUNT(*) as total_num_crime FROM CHICAGO_CRIME_DATA;

 * sqlite:///FinalDB.db
Done.

[(533,)]

**P2**: list community areas with **per capita** income less than 11000.

In [27]:
%%sql 

SELECT community_area_name, per_capita_income FROM CENSUS_DATA
    WHERE per_capita_income < 11000;

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

**P3**: list all case numbers for crimes *involving minors*.

In [28]:
%%sql 

SELECT case_number, DESCRIPTION FROM CHICAGO_CRIME_DATA

    WHERE DESCRIPTION LIKE '%MINOR%';

 * sqlite:///FinalDB.db
Done.

[('HL266884', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'ILLEGAL CONSUMPTION BY MINOR')]

**P4**: list all kidnapping crimes involving a child.

In [29]:
%%sql

SELECT CASE_NUMBER, PRIMARY_TYPE, DESCRIPTION 
    FROM CHICAGO_CRIME_DATA
        WHERE PRIMARY_TYPE LIKE 'KIDNAPPING';

 * sqlite:///FinalDB.db
Done.

[('HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

**P5**: what kind of crimes were recorded at *schools*.

In [33]:
%%sql

SELECT DISTINCT PRIMARY_TYPE FROM CHICAGO_CRIME_DATA
    WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%'
        ORDER BY PRIMARY_TYPE;

 * sqlite:///FinalDB.db
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPASS',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VIOLATION',)]

**P6**: list the *average safety score* for all types of schools

In [35]:
%%sql

SELECT "Elementary, Middle, or High School", AVG(SAFETY_SCORE) AS AVG_SAFETY_ASCORE
    FROM CHICAGO_PUBLIC_SCHOOLS
    GROUP BY "Elementary, Middle, or High School"

 * sqlite:///FinalDB.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

**P7**: list 5 community areas wiht highest % of households *below poverty*.

In [36]:
%%sql

SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY
    FROM CENSUS_DATA
        ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC
            LIMIT 5;

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

**P8**: which community area(number) is most crime prone?

In [42]:
%%sql 

DELETE FROM CHICAGO_CRIME_DATA
    WHERE COMMUNITY_AREA_NUMBER IS NULL;

SELECT COMMUNITY_AREA_NUMBER, COUNT(*) as TOTAL_CRIME_NUM 
    FROM CHICAGO_CRIME_DATA
        GROUP BY COMMUNITY_AREA_NUMBER
            ORDER BY TOTAL_CRIME_NUM DESC LIMIT 1;

 * sqlite:///FinalDB.db
0 rows affected.
Done.

[(25.0, 43)]

**P9**: use a `sub_query` to find the name of the community area with highest *hardship index*.

In [43]:
%%sql

SELECT COMMUNITY_AREA_NAME, HARDSHIP_INDEX 
    FROM CENSUS_DATA
        WHERE HARDSHIP_INDEX = 
            (select max(HARDSHIP_INDEX) from CENSUS_DATA);

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 98.0)]

**P10**: use a `sub_query` to determine the community area name with most number of crimes.

In [44]:
%%sql 

SELECT COMMUNITY_AREA_NAME
    FROM CENSUS_DATA
        WHERE COMMUNITY_AREA_NUMBER =
            (select community_area_number
                from CHICAGO_CRIME_DATA
                    group by community_area_number
                        order by count(community_area_number) DESC LIMIT 1);

 * sqlite:///FinalDB.db
Done.

[('Austin',)]