In [34]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"Price": [13495, 16500, 18900, 41324, 5000, 6398]})

dtype('int64')

<font size = "3"> Create `binning` using the `pandas.cut()` function. <br>
<font size = 2> `cut()` can be used to segement and sort data values into bins, and to convert a continous variable to a categorical variable.

In [23]:
bins = np.linspace(df["Price"].min(), df["Price"].max(),4)
print(bins)
# define bins or specifications: bins = [5000,15000,30000,41000]
bins_names = ["Low", "Medium", "High"]
df["Price_bins"] = pd.cut(df["Price"], bins, labels=bins_names, include_lowest=True)
print(df["Price_bins"].unique())
df

[ 5000. 17108. 29216. 41324.]
['Low', 'Medium', NaN]
Categories (3, object): ['Low' < 'Medium' < 'High']

   Price Price_bins
0  13495        Low
1  16500     Medium
2  18900     Medium
3  41324        NaN
4   5000        Low
5   6398        Low

<font size = "3"> **Problem:** most statistical methods can not take in the objects/strings as input. **Solution:** Add dummy variables for each unique category. <br>
<font size = 2.5> `pandas.get_dummies()` method can convert categorical variables into dummy variables `(0 or 1)`

In [29]:
df = pd.DataFrame({"Fuel": ["gas", "diesel", "gas", "gas", "diesel"]})

pd.concat([df, pd.get_dummies(df["Fuel"])], axis = 1)

     Fuel  diesel  gas
0     gas       0    1
1  diesel       1    0
2     gas       0    1
3     gas       0    1
4  diesel       1    0